.SearchBar__Main {
  position: relative;
}

.SearchBar {
  border-radius: 12px;
  padding: 4px 8px;
  border: none;
  background-color: #ffffff7d;
}

.Cocktail__Preview {
  margin-top: 8px;
  border-radius: 12px;
  background-color: white;
  width: fit-content;
}

.Cocktail__Preview--ListItem {
  display: flex;
  gap: 4px;
  padding: 2px;
  margin: 4px;
}

.Cocktail__Preview--ListItem:first-child {
  padding-top: 12px;
}

.Cocktail__Preview--ListItem:last-child {
  padding-bottom: 12px;
}

.Cocktail__Preview--Image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
