.ProductItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  width: 200px;
  height: 280px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.ProductItem img {
  width: 180px;
  height: 80%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

.ProductItem__Title {
  padding: 4px;
}