.Contacts__Main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Contacts {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 340px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 12px;
}

.Contacts input {
  width: 280px;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.Contacts label {
  text-transform: uppercase;
}

.Contacts__submit {
  background-color: #f6a71e;
  border: none;
  text-transform: uppercase;
}
